In [1]:
import pandas as pd

In [2]:
df = pd.read_json("scout_car.json",lines=True)
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(15919, 54)

In [44]:
df.dtypes

url                               object
make_model                        object
short_description                 object
body_type                         object
price                              int64
vat                               object
km                                object
registration                      object
prev_owner                        object
kW                               float64
hp                                object
Type                              object
Previous Owners                   object
Next Inspection                   object
Inspection new                    object
Warranty                          object
Full Service                      object
Non-smoking Vehicle               object
null                              object
Make                              object
Model                             object
Offer Number                      object
First Registration                object
Body Color                        object
Paint Type                        object
Body Color Original               object
Upholstery                        object
Body                              object
Nr. of Doors                      object
Nr. of Seats                      object
Model Code                        object
Gearing Type                      object
Displacement                      object
Cylinders                         object
Weight                            object
Drive chain                       object
Fuel                              object
Consumption                       object
CO2 Emission                      object
Emission Class                    object
\nComfort & Convenience\n         object
\nEntertainment & Media\n         object
\nExtras\n                        object
\nSafety & Security\n             object
description                       object
Emission Label                    object
Gears                             object
Country version                   object
Electricity consumption           object
Last Service Date                 object
Other Fuel Types                  object
Availability                      object
Last Timing Belt Service Date     object
Available from                    object
dtype: object

In [45]:
df.shape

(15919, 54)

In [4]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [5]:
df.dropna(how="all",axis = 1, inplace = True)
df.shape

(15919, 53)

In [6]:
df[["Last Timing Belt Service Date"]]

      Last Timing Belt Service Date
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
15914                           NaN
15915                           NaN
15916                           NaN
15917                           NaN
15918                           NaN

[15919 rows x 1 columns]